ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220,38,38);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.input{
    margin-left: 90px;
}